@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body {
    padding: 50px;
    background: #fff;
  }

  hr {
    margin: 10px auto;
  }

  .react-radio-group {
    > .is-item {
      &,
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      input {
        margin-right: 4px;
      }

      margin-right: 30px;
    }
  }
}
