* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  box-sizing: border-box;
  .button {
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }

  hr {
    margin: 10px auto;
  }

  .react-radio-group {
    >.is-item {
      &,
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      input {
        margin-right: 4px;
      }

      margin-right: 30px;
    }
  }
}
